.blur-main-navbar-dark .navbar-main-toggler-icon {
  display: none !important;
}

.text-stroke {
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.blur-main-navbar-dark {
  background-color: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

@media (max-width: 991.98px) {
  .blur-main-navbar-dark {
    position: sticky;
    top: 0;
    z-index: 1030;
  }

  .navbar-main-collapse-overlay {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    z-index: 1031;

    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    padding: 1rem;
  }
}
