.landing-hero {
  background:
    linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("https://images.unsplash.com/photo-1542838132-92c53300491e?q=80&w=1920&auto=format&fit=crop")
      no-repeat center center;
  background-size: cover;
  min-height: 500px;
}

.hero-title {
  font-size: clamp(2.5rem, 6vw, 10rem);
}

@media (min-width: 992px) {
  .landing-hero {
    height: 600px;
  }
}
