$primary: #112615;
$secondary: #BADB06;
$dark: #061809;
$light: #F2F2E9;
$warning: #FFD600;
$body-color: #F2F2E9;
$input-color: #212529;
$input-placeholder-color: #6c757d;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

$font-family-sans-serif: 'Poppins', sans-serif;

@import "bootstrap/scss/bootstrap"

